:root {
  --small-width: 18px;
  --small-height: 8px;
  --small-size: 3px;

  --medium-width:  48px;
  --medium-height: 24px;
  --medium-size: 8px;

  --large-width: 96px;
  --large-height: 48px;
  --large-size: 16px;

  --duration: 1.2s;
  --delay: 0.08s;

  --color-dark: rgba(255, 255, 255, 0.6);
  --color-light: rgba(0, 0, 0, 0.4);
}

.spinner__caterpillar {
  width: var(--medium-width);
  height: var(--medium-height);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  left: 0px;
  top: 0px;
  position: relative;
}

.spinner__caterpillar__el {
  border-radius: 50%;
  background: var(--color-light);
  animation: caterpillar-move var(--duration) infinite;
  animation-timing-function: cubic-bezier(.88,.01,.17,.99);
  -webkit-animation-timing-function: cubic-bezier(.88,.01,.17,.99);
  position: relative;
}

.spinner__caterpillar--light .spinner__caterpillar__el {
  background: var(--color-light);
}

.spinner__caterpillar--dark .spinner__caterpillar__el {
  background: var(--color-dark);
}

.spinner__caterpillar__el--2 {
  animation-delay: calc(-1 * var(--delay));
}

.spinner__caterpillar__el--3 {
  animation-delay: calc(-2 * var(--delay));
}

.spinner__caterpillar__el--4 {
  animation-delay: calc(-3 * var(--delay));
}

@keyframes caterpillar-move {
  0%   {bottom: 0%;}
  2%  {bottom: 5%;}
  4%  {bottom: 10%;}
  6%  {bottom: 15%;}
  8%  {bottom: 20%;}
  10%  {bottom: 25%;}
  12%  {bottom: 30%;}
  14%  {bottom: 35%;}
  16%  {bottom: 40%;}
  20%  {bottom: 35%;}
  24%  {bottom: 30%;}
  28%  {bottom: 25%;}
  32%  {bottom: 20%;}
  36%  {bottom: 15%;}
  40%  {bottom: 10%;}
  46%  {bottom: 5%;}
  50%  {bottom: 0%;}
}

/* Small */
.spinner__caterpillar--sm {
  width: var(--small-width);
  height: var(--small-height);
}

.spinner__caterpillar--sm .spinner__caterpillar__el {
  width: var(--small-size);
  height: var(--small-size);
}

/* Medium */
.spinner__caterpillar--md {
  width: var(--medium-width);
  height: var(--medium-height);
}

.spinner__caterpillar--md .spinner__caterpillar__el {
  width: var(--medium-size);
  height: var(--medium-size);
}

/* Large */
.spinner__caterpillar--lg {
  width: var(--large-width);
  height: var(--large-height);
}

.spinner__caterpillar--lg .spinner__caterpillar__el {
  width: var(--large-size);
  height: var(--large-size);
}
