:root {
  --small-width: 32px;
  --small-height: 32px;
  --small-gap: 3px;

  --medium-width:  64px;
  --medium-height: 64px;
  --medium-gap: 6px;

  --large-width: 96px;
  --large-height: 96px;
  --large-gap: 9px;

  --duration-1: 1s;
  --duration-2: 0.9s;
  --duration-3: 0.85s;
  --duration-4: 0.8s;
  --duration-5: 0.75s;
  --delay-1: 0.05s;
  --delay-2: 0.04s;
  --delay-3: 0.03s;
  --delay-4: 0.02s;
  --delay-5: 0.01s;
}

.spinner__eq {
  width: var(--medium-width);
  height: var(--medium-height);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  left: 0px;
  top: 0px;
}

.spinner__eq--sm {
  width: var(--small-width);
  height: var(--small-height);
  gap: var(--small-gap);
}

.spinner__eq--md {
  width: var(--medium-width);
  height: var(--medium-height);
  gap: var(--medium-gap);
}

.spinner__eq--lg {
  width: var(--large-width);
  height: var(--large-height);
  gap: var(--large-gap);
}

.spinner__eq__el {
  background: rgba(0, 0, 0, 0.4);
  flex: 1 1;
  animation-timing-function: cubic-bezier(.88,.01,.17,.99);
  -webkit-animation-timing-function: cubic-bezier(.88,.01,.17,.99);
}

.spinner__eq--light .spinner__eq__el {
  background: rgba(0, 0, 0, 0.4);
}

.spinner__eq--dark .spinner__eq__el {
  background: rgba(255, 255, 255, 0.6);
}

.spinner__eq__el--1 {
  animation-delay: calc(-1 * var(--delay-1));
  animation: eq-move-1 var(--duration-1) infinite;
}

.spinner__eq__el--2 {
  animation-delay: calc(-1 * var(--delay-2));
  animation: eq-move-2 var(--duration-2) infinite;
}

.spinner__eq__el--3 {
  animation-delay: calc(-2 * var(--delay-3));
  animation: eq-move-3 var(--duration-3) infinite;
}

.spinner__eq__el--4 {
  animation-delay: calc(-3 * var(--delay-4));
  animation: eq-move-4 var(--duration-4) infinite;
}

.spinner__eq__el--5 {
  animation-delay: calc(-4 * var(--delay-5));
  animation: eq-move-5 var(--duration-5) infinite;
}

@keyframes eq-move-1 {
  0%   {height: 10%}
  20%  {height: 100%;}
  40%  {height: 40%;}
  60%  {height: 55%;}
  80%  {height: 10%;}
  100% {height: 10%;}
}

@keyframes eq-move-2 {
  0%   {height: 10%}
  20%  {height: 80%;}
  40%  {height: 30%;}
  60%  {height: 40%;}
  80%  {height: 10%;}
  100% {height: 10%;}
}

@keyframes eq-move-3 {
  0%   {height: 10%}
  20%  {height: 90%;}
  40%  {height: 35%;}
  60%  {height: 50%;}
  80%  {height: 10%;}
  100% {height: 10%;}
}

@keyframes eq-move-4 {
  0%   {height: 10%}
  20%  {height: 60%;}
  40%  {height: 50%;}
  60%  {height: 75%;}
  80%  {height: 10%;}
  100% {height: 10%;}
}

@keyframes eq-move-5 {
  0%   {height: 10%}
  20%  {height: 50%;}
  40%  {height: 60%;}
  60%  {height: 75%;}
  80%  {height: 10%;}
  100% {height: 10%;}
}