body {
  margin: 0px;
  padding: 0px;
}

.spinner__example__container {
  gap: 64px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.spinner__example__container--light {
  background: white;
}

.spinner__example__container--dark {
  background: rgb(40, 40, 40);
}
