body {
  margin: 0px;
  padding: 0px;
}

.spinner-example-container {
  gap: 64px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.light {
  background: white;
}

.dark {
  background: rgb(40, 40, 40);
}
