body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1 {
  font-weight: 500;
  font-size: 16pt;
  margin: 16px 0 0 0;
}

iframe.spinner__container {
  width: 100vw;
  height: 150px;
  border: none
}